.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  border-radius: var(--border-radius);
  color: white;
  box-shadow: var(--box-shadow);
  justify-self: center;
  width: 80%;
}

.header-content {
  flex: 1;
  justify-self: center;
  justify-content: center;
  justify-items: center;
}

.title {
  margin: 0 0 0.5rem 0;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  justify-items: center;
  justify-self: center;
  justify-content: center;
}

.header-instruction {
  opacity: 0.9;
  line-height: 1.4;
  text-align: start;
}

.header-logo {
  border-radius: 20%;
  box-shadow: var(--box-shadow);
}

.controls {
  justify-self: center;
  justify-content: center;
  justify-items: center;
}
